body {
    background: none !important;
}

#resume {
    margin: 0 !important;
}

#title-pdf {
    color: #c0c0c0;
    text-transform: uppercase;
    font-size: 1.85em;
    justify-self: center;
    grid-column-start: 2;
}
